.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.meme {
    height: 100%;
}

.App-header {
    background-color: white;
    height: 150px;
    padding: 20px;
    color: black;
    display: inline-block;
}

.App-intro {
    font-size: large;
}

.App-main-container {
    margin: 3em;
}

.picture-wrapper {
    height: 600px;
}

.avail-buttons {
    height: 100%;
}

.img {
    max-height: 100%;
    max-width: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}